"AppBuild"
{
  "AppID" "{{STEAM_APP_ID}}"
  "Desc" "Astral Arena {{BUILD_DESC}}"
  "BuildOutput" "{{BUILD_OUTPUT}}"
  "ContentRoot" "{{CONTENT_ROOT}}"
  "SetLive" ""
  "Preview" "0"
  "Local" ""

  "Depots"
  {
    "{{STEAM_DEPOT_WINDOWS_ID}}"
    {
      "File" "{{DEPOT_VDF_PATH}}"
    }
  }
}
