:8080 {
  root * /srv
  encode zstd gzip

  header {
    X-Content-Type-Options "nosniff"
    Referrer-Policy "same-origin"
    Permissions-Policy "camera=(self), microphone=(), geolocation=()"
    Cache-Control "public, max-age=300"
  }

  @immutable path *.wasm *.pck *.js
  header @immutable Cache-Control "public, max-age=31536000, immutable"

  try_files {path} {path}/ /index.html
  file_server
}
