PORT=3015
NODE_ENV=development

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Supabase
SUPABASE_URL=https://jkwykpldnitavhmtuzmo.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Workers
WORKER_HEARTBEAT_INTERVAL=30000
